<div class="member">
  <h2>會員中心</h2>
  <div class="row" style="padding-top: 60px">
    <%= render "shared/member-side" %>
    <div class="content col-md-9">
      <table width="100%" border="0" class="table">
        <% @posts.each do |post| %>
        <tr>
          <td class="thumbImg">
            <%= link_to image_tag(post.image.url, class: "img-fluid"), product_path(post), class: "img-fluid" if post.image.url %>
          </td>
          <td><%= link_to post.title, product_path(post) %></td>
          <td class="table-control"><%= link_to "加入購物車", add_cart_path(post.id), method: :put, :data => { :'quantity' => 1 }, class: "btn btn-success add_to_cart", id: "add_to_cart#{post.id}" %></td>
          <td class="table-control" width="90"><%= link_to "移除", remove_user_wish_path(current_user.id,post.id), method: :put, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </table>
    </div> <!-- /content -->
  </div> <!-- /row -->
</div> <!-- /member -->
    