<div class="member">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h2>會員中心</h2>
  <div class="row" style="padding-top: 60px">
    <%= render "shared/member-side" %>
    <div class="content col-md-9">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="order-col col-md-6">
          <div class="field">
            <%= f.label :email, "電子信箱", class: "col-form-label" %>
            <div class="col-form-control">
              <p class="normal"><%= current_user.email %></p>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, "登入密碼 *", class: "col-form-label" %>
            <div class="col-form-control">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
              <p class="note">最少 <%= @minimum_password_length %> 個字元</p>
              <% end %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "確認密碼 *", class: "col-form-label" %>
            <div class="col-form-control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :current_password, "現在密碼 *", class: "col-form-label" %><br />
            <div class="col-form-control">
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :name, "姓名", class: "col-form-label" %>
            <div class="col-form-control">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="field">
            <%= f.label :birthday, "生日", class: "col-form-label" %>
            <div class="col-form-control">
              <div class="field">
                  <%= f.select :year, (Time.zone.now.year - 70)..(Time.zone.now.year), {prompt: '年'}, { :class => 'form-control' } %>
              </div>
              <div class="field">
                  <%= f.select :month, 1..12, {prompt: '月'}, { :class => 'form-control' } %>
              </div>
              <div class="field">
                  <%= f.select :day, 1..31, {prompt: '日'}, { :class => 'form-control' } %>
              </div>
            </div> <!--/col-form-control -->
          </div> <!-- /field -->
        </div> <!-- /order-col -->

        <div class="order-col col-md-6">
          <div class="field">
            <%= f.label :mobile, "聯絡手機 *", class: "col-form-label" %>
            <div class="col-form-control">
              <%= f.text_field :mobile, class: "form-control" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :tel, "聯絡電話", class: "col-form-label" %>
            <div class="col-form-control">
              <%= f.text_field :tel, class: "form-control" %>
            </div>
          </div>
          
          <div class="field">
            <%= f.label :tel, "性別", class: "col-form-label" %>
            <div class="col-form-control">
              <label class="radio" for="user_gender_0">
                <% if current_user.gender == 0 %>
                <%= f.radio_button :gender, 0, :checked => true %> 
                <% else %>
                <%= f.radio_button :gender, 0 %> 
                <% end %>
                <i></i>男
              </label>
              <label class="radio" for="user_gender_1">
                <% if current_user.gender == 0 %>
                <%= f.radio_button :gender, 1 %>
                <% else %>
                <%= f.radio_button :gender, 1, :checked => true %> 
                <% end %>
                <i></i>女
              </label>
            </div>
          </div> <!-- /field -->
          <div class="field">
            <label for="order-info-addr" class="col-form-label">聯絡地址</label>
            <div class="col-form-control">
              <div class="account-list-row">
                <div id="twzipcode">
                  <div class="account-list-row field" data-role="zipcode"
                     data-value="<%= current_user.code %>" data-name="user[code]"
                     data-style="form-control"></div>
                  <div class="account-list-row field" data-role="county"
                     data-value="<%= current_user.city %>" data-name="user[city]"
                     data-style="form-control"></div>
                  <div class="account-list-row field" data-role="district"
                     data-value="<%= current_user.district %>" data-name="user[district]"
                     data-style="form-control"></div>
                </div><!-- twzipcode -->
              </div>
              <input type="text" name="user[addr]" class="form-control" id="order-info-addr" value="<%= current_user.addr %>">
            </div> <!-- /col-form-control -->
          </div> <!-- /field -->
        </div> <!-- /order-col -->
      </div> <!-- /row -->
      <div class="control">
        <%= f.submit "更新", class: "btn btn-primary btn-block mx-auto" %>
      </div>
    </div> <!-- /content -->
  </div> <!-- /row -->
  <% end %>
</div> <!-- /member -->
    