<% content_for :titletag, "購物車" %>

<div class="cart-wrap">
  <%= render partial: "carts/step", locals: { active: 1 } %>
  <div class="text-right" style="padding-bottom: 40px">
    <%= link_to '清空購物車', cart_path, method: :delete, class: 'btn btn-danger btn-sm' %>
  </div>
	<div class="cart-wrap-table">
		<div class="cart-list-head cart-list-row">
        <div class="cart-item-title cart-item">&nbsp;</div>
        <div class="cart-thumb cart-item">商品名稱</div>
        <div class="cart-info">
          <div class="cart-item-price cart-item text-center">單價</div>
          <div class="cart-item-count cart-item text-center">數量</div>
          <div class="cart-item-total cart-item text-center">小計</div>
        </div>
        <div class="cart-del cart-item text-center">刪除</div>
    </div> <!-- /cart-list-head -->
		<% @carts.each do |cart| %>
        <div class="cart-list-row tline">
          <div class="cart-item-title cart-item">
          	<%= link_to cart.product.title, product_path(cart.product.id) %>
          </div>
          <div class="cart-thumb cart-item">
            <%= image_tag(cart.product.image.url, class: "img-fluid") if cart.product.image.url %>
          </div>
          <div class="cart-info inline">
            <div class="cart-item-spec cart-item visible-xs"></div>
            <div class="cart-item-price cart-item text-center">NT$ <%= cart.product.price %></div>
            <div class="cart-item-count cart-item text-center">
              <div class="input-group">
                <span class="input-group-btn">
                  <%=
                    if cart.quantity == 1
                      link_to "-", '#', class: "btn btn-default isDisabled"
                    else
                      link_to "-",reduce_cart_path(cart.product.id), method: :put, class: "btn btn-default"
                    end
                  %>
                </span>
                <input type="text" name="count" class="form-control text-center" min="1" max="101" id="count1" value="<%= cart.quantity %>">
                <span class="input-group-btn">
                  <%= link_to "+",increase_cart_path(cart.product.id), method: :put, class: "btn btn-default" %>
                </span>
              </div> <!-- /input-group -->
            </div> <!-- /cart-item-count -->
            <div class="cart-item-total cart-item text-center cart-label" data-label="小計">NT$ <%= cart.price %></div>
          </div> <!-- /cart-info -->
          <div class="cart-del cart-item text-center">
            <%= link_to "移除",remove_cart_path(cart.product.id), method: :put, class: "btn btn-danger" %>
          </div>
        </div> <!-- /cart-list-row -->
		<% end %>
	</div> <!-- /cart-wrap-table -->
  <%= render "carts/cartinfo" %>
  <div class="control text-center">
    <%= link_to '繼續購物', products_path, class: 'btn btn-success' %>
    <%= link_to '開始結帳', checkout_cart_path, class: 'btn btn-primary' unless current_cart.empty? %>
  </div>
</div> <!-- /cart-wrap -->