<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titletag) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name='turbolinks-cache-control' content='no-cache'>
    <meta name="turbolinks-root" content="/app">
    <meta name="robots" content="noindex">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(url_for(:controller => '/welcome', :action => 'index')) %>
    <%= render partial: "shared/cycle", locals: {cycle: @cycle} %>
    <%  end %>
    
    <%= render "shared/navbar" %>
    <%= render "shared/flash" if notice %>
    <div class="container">
      <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <%= render_breadcrumbs :tag => :li, :separator => '<span>/</span>' %>
      </ol>
      <%= yield %>
    </div>

    <% if current_page?(url_for(:controller => '/welcome', :action => 'index')) %>
      <div class="contact">
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14466.711387163647!2d121.54841739999999!3d24.977073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346801f12db0b28d%3A0xb7597fa67d269a6b!2z5LiD5by156uZ!5e0!3m2!1szh-TW!2stw!4v1564487373846!5m2!1szh-TW!2stw" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div> <!-- /social media -->
    <%  end %>
    <footer id="footer">
      <div class="container">
        &copy; 2019 
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/77c7092383.js"></script>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
