<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titletag) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flash" if notice %>
    <div class="container">
      <%= yield %>

      <footer id="footer">
        &copy; 2019 
      </footer>
    </div>
    <script src="https://kit.fontawesome.com/77c7092383.js"></script>
  </body>
</html>
